In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from tqdm import tqdm
import holidays
# Remplacez 'chemin/vers/votre/projet/module' par le chemin absolu réel vers le dossier "module" via la commande pwd
module_path = '/Users/eliotsouthon/Desktop/POC/POC/Code/Modules'  
sys.path.append(module_path)
import ma_bibliotheque

In [3]:
csv_file_paths=ma_bibliotheque.path_data('/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver')
# Affiche la liste des chemins pour vérifier
print("Liste des chemins des fichiers CSV :")
for path in csv_file_paths:
    print(path)

Liste des chemins des fichiers CSV :
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_76.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_75.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/weather_1_51.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_11.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_28.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_32.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_27.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/e_w_1_51.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_24.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_51.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_93.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_44.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_52.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_84.csv
/Users/eliotsouthon/Desktop/POC/POC/Data/Data_silver/energy_1_53.csv

In [3]:
df=pd.read_csv(csv_file_paths[1], sep=';')
df.head()

,Date,Consommation brute électricité (MW) - RTE,T,U,FF
0,2013-02-01 17:00:00+00:00,6894.5,1.9,85.0,1.2
1,2013-02-01 18:00:00+00:00,6855.0,0.0,91.0,0.0
2,2013-02-01 19:00:00+00:00,6484.0,-0.6,96.0,1.2
3,2013-02-01 20:00:00+00:00,6117.5,-1.7,95.0,0.0
4,2013-02-01 21:00:00+00:00,6016.5,-1.1,97.0,0.9

In [4]:
# Fonction qui ajoute le pays et l'index dans ma_bibliothèque
df=ma_bibliotheque.add_country(df,'france')
df.head()

,Date,Consommation brute électricité (MW) - RTE,T,U,FF,country
0,2013-02-01 17:00:00+00:00,6894.5,1.9,85.0,1.2,1
1,2013-02-01 18:00:00+00:00,6855.0,0.0,91.0,0.0,1
2,2013-02-01 19:00:00+00:00,6484.0,-0.6,96.0,1.2,1
3,2013-02-01 20:00:00+00:00,6117.5,-1.7,95.0,0.0,1
4,2013-02-01 21:00:00+00:00,6016.5,-1.1,97.0,0.9,1

In [5]:
# Fonction qui ajoute l'echelle et l'index dans ma_bibliothèque
df=ma_bibliotheque.add_scale(df,'region')
df.head()

,Date,Consommation brute électricité (MW) - RTE,T,U,FF,country,scale
0,2013-02-01 17:00:00+00:00,6894.5,1.9,85.0,1.2,1,5
1,2013-02-01 18:00:00+00:00,6855.0,0.0,91.0,0.0,1,5
2,2013-02-01 19:00:00+00:00,6484.0,-0.6,96.0,1.2,1,5
3,2013-02-01 20:00:00+00:00,6117.5,-1.7,95.0,0.0,1,5
4,2013-02-01 21:00:00+00:00,6016.5,-1.1,97.0,0.9,1,5

## Features

In [6]:
# Convertir en format date
df['Date'] = pd.to_datetime(df['Date'])

In [7]:
df=ma_bibliotheque.add_holiday_and_day_columns(df,'FR')
df.head()

,Date,Consommation brute électricité (MW) - RTE,T,U,FF,country,scale,holiday,day
0,2013-02-01 17:00:00+00:00,6894.5,1.9,85.0,1.2,1,5,0,5
1,2013-02-01 18:00:00+00:00,6855.0,0.0,91.0,0.0,1,5,0,5
2,2013-02-01 19:00:00+00:00,6484.0,-0.6,96.0,1.2,1,5,0,5
3,2013-02-01 20:00:00+00:00,6117.5,-1.7,95.0,0.0,1,5,0,5
4,2013-02-01 21:00:00+00:00,6016.5,-1.1,97.0,0.9,1,5,0,5

In [8]:
# Ajout des colonnes mois et heures 
df=ma_bibliotheque.add_month_and_hours(df)
df.head()

,Consommation brute électricité (MW) - RTE,T,U,FF,country,scale,holiday,day,month,hours
0,6894.5,1.9,85.0,1.2,1,5,0,5,2,17
1,6855.0,0.0,91.0,0.0,1,5,0,5,2,18
2,6484.0,-0.6,96.0,1.2,1,5,0,5,2,19
3,6117.5,-1.7,95.0,0.0,1,5,0,5,2,20
4,6016.5,-1.1,97.0,0.9,1,5,0,5,2,21

In [ ]:
numero_region=51
pays= ma_bibliotheque.get_country_iso_numeric("france")
# Construire le nom du fichier en utilisant la première valeur de la colonne 'Code INSEE région'
nom_fichier = f"e_w_{pays}_{numero_region}.csv"

# Définir le chemin complet en joignant le chemin et le nom du fichier
chemin_complet = f"/Users/eliotsouthon/Desktop/POC/POC/Data/Data_gold/{nom_fichier}"

# Sauvegarder le DataFrame en CSV
df.to_csv(chemin_complet, index=False, sep=';', encoding='utf-8')

## Features from API weather

In [5]:
pwd

'/Users/eliotsouthon/Desktop/POC/POC/Code'

In [7]:
df=pd.read_csv('/Users/eliotsouthon/Desktop/POC/POC/Code/API_weather/weather_forecast_3h.csv', sep=',')
df.head()

                  date        location  temperature  humidity  wind_speed
0  2024-11-14 16:00:00  48.8566,2.3522        12.45        71        1.90
1  2024-11-14 19:00:00  48.8566,2.3522        10.95        77        1.53
2  2024-11-14 22:00:00  48.8566,2.3522        10.58        78        1.44
3  2024-11-15 01:00:00  48.8566,2.3522         8.92        92        2.38
4  2024-11-15 04:00:00  48.8566,2.3522         7.82        84        1.89